section.main {
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  position: relative;
  background: snow;
  display: flex;
  gap: 1rem;
}

section.main > *,
main > * {
  position: relative;
  z-index: 100;
}

section.main {
  aside {
    display: grid;
    place-items: center;
    width: 35dvw;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 3rem;
    width: 65vw;
    height: 100vh;

    > * {
      flex-grow: 0;
    }

    .texto {
      color: #38332d;
      font-size: 2.6rem;
      line-height: 4.6rem;
      max-width: 42ch;
    }

    a {
      max-width: 30rem;
      text-align: center;
    }
  }
}

/* CREATIVIDAD 
  --------------------------------- */
.creatividad {
  h2 {
    color: orange;
  }

  .animation__emoji {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    gap: 3rem;

    div {
      font-size: 15rem;
      width: 20rem;
      height: 15rem;
      display: grid;
      place-items: center;
    }
  }

  h2.animated {
    transform: translateX(100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  h2.animated.in-view {
    transform: translateX(0);
    opacity: 1;
  }

  .emoji1.animated.in-view {
    animation: spinAndSlow 1000ms, text-focus-in 800ms cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
  }

  .emoji2.animated {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .emoji2.animated.in-view {
    transform: translateY(0);
    opacity: 1;
  }
}

/* APRENDIZAJE
  --------------------------------- */
.aprendizaje {
  h2 {
    color: blue;
  }
  .animation__emoji {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    gap: 3rem;

    .emoji1 {
      font-size: 6rem;
      width: 22rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    .emoji2 {
      font-size: 15rem;
      width: 20rem;
      height: 15rem;
      display: grid;
      place-items: center;
    }
  }

  h2.animated {
    transform: translateX(-100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  h2.animated.in-view {
    transform: translateX(0);
    opacity: 1;
  }

  .emoji1.animated {
    transform: scale(0);
    transition: transform 0.5s ease;
    transition-delay: 0.2s;
  }

  .emoji1.animated.in-view {
    transform: scale(1);
  }

  .emoji2.animated {
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .emoji2.animated.in-view {
    transform: translateY(0);
    opacity: 1;
  }
}

/* COMPAÑERISMO
  --------------------------------- */
.companerismo {
  h2 {
    color: magenta;
  }
  .animation__emoji {
    color: #333;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;

    div {
      font-size: 15rem;
      width: 15rem;
      height: 15rem;
      display: grid;
      place-items: center;
    }
  }

  h2.animated {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  h2.animated.in-view {
    transform: translateX(0);
    opacity: 1;
  }

  .emoji.animated {
    transform: scale(0);
    transition: transform 0.5s ease;
  }

  .emoji1.animated {
    transition-delay: 0.2s;
  }

  .emoji2.animated {
    transition-delay: 0.4s;
  }

  .emoji3.animated {
    transition-delay: 0.6s;
  }

  .emoji4.animated {
    transition-delay: 0.8s;
  }

  .emoji.animated.in-view {
    transform: scale(1);
  }
}

/* RETOS
  --------------------------------- */
.retos {
  h2 {
    color: green;
  }
  .animation__emoji {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    gap: 3rem;

    div {
      font-size: 15rem;
      width: 20rem;
      height: 15rem;
      display: grid;
      place-items: center;
    }
  }

  h2.animated {
    transform: translateX(100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  h2.animated.in-view {
    transform: translateX(0);
    opacity: 1;
  }

  .emoji1 {
    margin-left: 5rem;
  }
  .emoji2 {
    margin-left: -5rem;
  }

  .emoji1.animated.in-view {
    animation: text-focus-in 800ms cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards, float 2s ease-in-out infinite;
  }

  .emoji2.animated {
    transform: translateY(100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .emoji2.animated.in-view {
    transform: translateY(0);
    opacity: 1;
  }
}

/* COMUNIDAD 
  --------------------------------- */
.comunidad {
  h2 {
    color: purple;
  }

  .animation__emoji {
    color: #333;
    display: flex;
    display: grid;
    place-items: center;
    gap: 2rem;

    .emoji {
      position: relative;
      z-index: 10;
      font-size: 10rem;
      width: 18rem;
      height: 18rem;
      border: 4px solid #333;
      background-color: snow;
      display: grid;
      place-items: center;
      border-radius: 50%;
    }
  }

  h2.animated {
    transform: translateX(100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  h2.animated.in-view {
    transform: translateX(0);
    opacity: 1;
  }

  .connect {
    position: absolute;
    width: 30rem;
    height: 30rem;
    border: 4px dashed purple;
    opacity: 0;
    transition: opacity 0.6s ease-in 0.5s;
  }

  .connect.animated.in-view {
    opacity: 1;
  }

  .emoji.animated {
    transform: scale(0);
    transition: transform 0.5s ease;
  }

  .emoji1.animated {
    transition-delay: 0.2s;
  }

  .emoji2.animated {
    transition-delay: 0.4s;
  }

  .emoji.animated.in-view {
    transform: scale(1);
  }
}


